body {
    background-color: white;/* Pink background color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ff66b2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #000000; /* Pink text color */
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    margin-bottom: 25px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #ff66b2; /* Pink button background color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #ff3385; /* Lighter pink on hover */
}

/* viewTestCase.css */

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ff66b2;
}

.modal-body {
    text-align: center;
}

/* viewTestCase.css */
