<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Test Case</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>

    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container mt-5">
        <h2 class="mb-4">Edit Test Case</h2>
        <form th:object="${testCase}" method="post" th:action="@{/update}">
            <div class="form-group">
                <label for="projectId">Projects ID:</label>
                <input type="text" class="form-control" th:field="*{projectId}" placeholder="Code Test Case" required>
            </div>
            <div class="form-group">
                <label for="smartContractID">Smart Contract ID:</label>
                <input type="number" class="form-control" th:field="*{smartContractID}" placeholder="Smart Contract ID"
                    required>
            </div>
            <div class="form-group">
                <label for="testCaseName">Test Case Name:</label>
                <input type="text" class="form-control" th:field="*{testCaseName}" placeholder="Test Case Name"
                    required>
            </div>

            <!-- Display an alert if the test case name already exists -->
            <div th:if="${testCaseNameExists}" class="alert alert-danger" role="alert">
                Test Case Name already exists! Please choose a different test case name.
            </div>

            <div class="form-group">
                <label for="test_desc">Test Case Description:</label>
                <textarea class="form-control" name="test_desc" th:field="*{test_desc}" rows="3"></textarea>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dateCreated">Date Created:</label>
                        <input type="date" class="form-control" th:field="*{dateCreated}" placeholder="Date Created">
                        <span class="text-danger" th:if="${#fields.hasErrors('dateCreated')}"
                            th:errors="*{dateCreated}"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="deadline">Deadline:</label>
                        <input type="date" class="form-control" th:field="*{deadline}" placeholder="Deadline">
                        <span class="text-danger" th:if="${#fields.hasErrors('deadline')}"
                            th:errors="*{deadline}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Assign Users:</label>
                        <div th:each="user : ${users}">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" th:id="${'userCheckbox' + user.userID}"
                                    th:field="*{userID}" th:value="${user.userID}">
                                <label class="form-check-label" th:for="${'userCheckbox' + user.userID}"
                                    th:if="${user.roleName.startsWith('ROLE_')}"
                                    th:text="${user.username + ' (' + user.roleName.substring(5) + ')'}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success">Update <i class="bi bi-check"></i></button>
            </div>
        </form>
    </div>
</body>

</html>