<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        text-align: center;
      }

      main {
        padding: 2em;
      }

      .welcome-message {
            font-size: 2em;
            margin-bottom: 1em;
        }

        .username {
            font-weight: bold;
        }

    </style>
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <br />

    <div class="container">
      <h1 class="welcome-message">Welcome to the Hyper Agile!</h1>
      <h3 class="username" th:text="${#authentication.principal.username}"><h3/>
    </div>
    </div>
  </body>
</html>
