<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Manage Users</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      .table-header {
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <br />
    <div class="container mt-5">
      <h2 class="mb-4">User Table</h2>

      <!-- Search Box with Filter Options -->
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="searchInput"
          placeholder="Search..."
        />
      </div>

      <!-- Add New User Link -->
      <a href="/adduser" class="btn btn-primary mb-3">Add New User</a>

      <!-- User Table -->
      <table class="table table-bordered">
        <thead class="table-header">
          <tr>
            <th scope="col">#</th>
            <th scope="col">User ID</th>
            <th scope="col">Role ID</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user, iStat : ${users}">
            <td th:text="${iStat.count}"></td>
            <td th:text="${user.userID}"></td>
            <td th:text="${user.roleID}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <button type="button" class="btn btn-success">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- JavaScript for Filtering -->
    <script>
      $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });
    </script>
  </body>
</html>
