<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Case Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h2>Test Case Details</h2>
    <a href="/view" class="btn btn-secondary mb-3">Back to List</a>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Details</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: <span th:text="${testCase.idtest_cases}"></span></li>
                <li class="list-group-item">Description: <span th:text="${testCase.test_desc}"></span></li>
                <li class="list-group-item">Deadline: <span th:text="${testCase.deadline}"></span></li>
                <li class="list-group-item">Date Updated: <span th:text="${testCase.dateCreated}"></span></li>
                <li class="list-group-item">Project ID: <span th:text="${testCase.projectId}"></span></li>
                <li class="list-group-item">Reason: <span th:text="${testCase.reason}"></span></li>
                <li class="list-group-item">Status: <span th:text="${testCase.status}"></span></li>
                <li class="list-group-item">By: <span th:text="${testCase.actor}"></span></li>
                <li class="list-group-item">Test Case Name: <span th:text="${testCase.testCaseName}"></span></li>
            </ul>
        </div>
            <div class="actions mt-3">
                <a th:href="@{/testcases/approveStatus/{id}(id=${testCase.idtest_cases})}" class="btn btn-success">Approve Status</a>
                <a th:href="@{/testcases/rejectStatus/{id}(id=${testCase.idtest_cases})}" class="btn btn-danger">Reject Status</a>
            <button class="btn btn-info" th:onclick="'window.location.href=\'/viewSelectedTestCaseInfo/' + ${testCase.idtest_cases} + '\''">Edit Selected Test Case Info</button>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
